/* Customize.css */

.customize body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  }
  
  .customize.custom-form {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
  }
  
  .customize form {
    display: flex;
    flex-direction: column;
  }
  
  .customize label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .customize input,
  textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .customize button {
    background-color: #22bb49;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  @media screen and (max-width: 768px) {
    /* Apply styles for screens with a maximum width of 768px */
    .custmize .custom-form {
      width: 90%;
    }
  }